a.go-home {
  text-decoration: none;

}

.logo-container {
  // z-index: -999;
  // position: absolute;
  display: flex;
  width: $logoWidth * 2;
  height: $baseUnit * 3;
  flex-wrap: wrap;
  perspective: $logoWidth*1.5;
}

.logo-column {
  width: $logoWidth;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-row {
  width: $logoWidth;
  flex-wrap: wrap;
  display: flex;
}

.logo-phrase {
  display: block;
  margin-left: $logoTextSize*0.7;
  font-size: $logoTextSize;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 900;
  line-height: $logoTextSize;
  height: $logoTextSize*1.2;
  color: #999;
  position: relative;

  .b1,
  .b2,
  .b3,
  .b4 {
    position: absolute;
    visibility: hidden;
    height: $logoTextSize;
    top: 0;
    opacity: 0;
  }

  .b1 {
    visibility: visible;
    opacity: 1;
    color: $yellow;
  }
}

.logo-phrase:nth-child(1) {
  box-sizing: content-box;
  padding-top: $logoTextSize*1.5;
  font-weight: 400;
}

div[class^="c-"] {
  width: $baseUnit;
  height: $baseUnit;
  background: $cyan;
}

.c-tl {
  border-radius: 0 0 $baseUnit 0;
  -moz-border-radius: 0 0 $baseUnit 0;
  -webkit-border-radius: 0 0 $baseUnit 0;
}

.c-tr {
  border-radius: 0 0 0 $baseUnit;
  -moz-border-radius: 0 0 0 $baseUnit;
  -webkit-border-radius: 0 0 0 $baseUnit;
}

.c-bl {
  border-radius: 0 $baseUnit 0 0;
  -moz-border-radius: 0 $baseUnit 0 0;
  -webkit-border-radius: 0 $baseUnit 0 0;
}

.c-br {
  border-radius: $baseUnit 0 0 0;
  -moz-border-radius: $baseUnit 0 0 0;
  -webkit-border-radius: $baseUnit 0 0 0;
}

@keyframes rotateY {
  2.5% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    background: $cyan;
  }

  30% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    background: $cyan;
  }

  32.5% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: $berry;
  }

  60% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: $berry;
  }

  62.5% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    background: $green;
  }

  90% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    background: $green;
  }

  92.5% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: $yellow;
  }

  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: $yellow;
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin transformX($deg, $color) {
  -webkit-transform: rotateX($deg);
  -ms-transform: rotateX($deg);
  transform: rotateX($deg);
  background: $color;
}

@mixin transformY($deg, $color) {
  -webkit-transform: rotateY($deg);
  -ms-transform: rotateY($deg);
  transform: rotateY($deg);
  background: $color;
}

@mixin textAnim($deg, $color) {
  -webkit-transform: rotateX($deg);
  -ms-transform: rotateX($deg);
  transform: rotateX($deg);
  color: $color;
}

@include keyframes(textChange) {
  3% {
    @include textAnim(360deg, $cyan);
  }

  30% {
    @include textAnim(360deg, $cyan);
  }

  33% {
    @include textAnim(0deg, $berry);
  }

  60% {
    @include textAnim(0deg, $berry);
  }

  63% {
    @include textAnim(360deg, $green);
  }

  90% {
    @include textAnim(360deg, $green);
  }

  93% {
    @include textAnim(0deg, $yellow);
  }

  100% {
    @include textAnim(0deg, $yellow);
  }
}

@include keyframes(rX3) {
  3% {
    @include transformX(360deg, $cyan);
  }

  30% {
    @include transformX(360deg, $cyan);
  }

  33% {
    @include transformX(0deg, $berry);
  }

  60% {
    @include transformX(0deg, $berry);
  }

  63% {
    @include transformX(360deg, $green);
  }

  90% {
    @include transformX(360deg, $green);
  }

  93% {
    @include transformX(0deg, $yellow);
  }

  100% {
    @include transformX(0deg, $yellow);
  }
}

@include keyframes(rX2_8) {
  2.8% {
    @include transformX(360deg, $cyan);
  }

  30% {
    @include transformX(360deg, $cyan);
  }

  32.8% {
    @include transformX(0deg, $berry);
  }

  60% {
    @include transformX(0deg, $berry);
  }

  62.8% {
    @include transformX(360deg, $green);
  }

  90% {
    @include transformX(360deg, $green);
  }

  92.8% {
    @include transformX(0deg, $yellow);
  }

  100% {
    @include transformX(0deg, $yellow);
  }
}

@include keyframes(rY2_2) {
  2.2% {
    @include transformY(360deg, $cyan);
  }

  30% {
    @include transformY(360deg, $cyan);
  }

  32.2% {
    @include transformY(0deg, $berry);
  }

  60% {
    @include transformY(0deg, $berry);
  }

  62.2% {
    @include transformY(360deg, $green);
  }

  90% {
    @include transformY(360deg, $green);
  }

  92.2% {
    @include transformY(0deg, $yellow);
  }

  100% {
    @include transformY(0deg, $yellow);
  }
}

@include keyframes(rY2_5) {
  2.5% {
    @include transformY(360deg, $cyan);
  }

  30% {
    @include transformY(360deg, $cyan);
  }

  32.5% {
    @include transformY(0deg, $berry);
  }

  60% {
    @include transformY(0deg, $berry);
  }

  62.5% {
    @include transformY(360deg, $green);
  }

  90% {
    @include transformY(360deg, $green);
  }

  92.5% {
    @include transformY(0deg, $yellow);
  }

  100% {
    @include transformY(0deg, $yellow);
  }
}

@include keyframes(textFade1) {
  0% {
    opacity: 1;
    visibility: visible;
  }

  2.5% {
    opacity: 0;
    visibility: hidden;
  }

  30% {
    opacity: 0;
  }

  32.5% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  62.5% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  92.5% {
    opacity: 1;
    visibility: visible;
  }
}

@include keyframes(textFade2) {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  2.5% {
    opacity: 1;
    visibility: visible;
  }

  30% {
    opacity: 1;
    visibility: visible;
  }

  32.5% {
    opacity: 0;
    visibility: hidden;
  }

  60% {
    opacity: 0;
    visibility: hidden;
  }

  62.5% {
    opacity: 0;
    visibility: hidden;
  }

  90% {
    opacity: 0;
    visibility: hidden;
  }

  92.5% {
    opacity: 0;
    visibility: hidden;
  }
}

@include keyframes(textFade3) {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  2.5% {
    opacity: 0;
    visibility: hidden;
  }

  30% {
    opacity: 0;
    visibility: hidden;
  }

  32.5% {
    opacity: 1;
    visibility: visible;
  }

  60% {
    opacity: 1;
    visibility: visible;
  }

  62.5% {
    opacity: 0;
    visibility: hidden;
  }

  90% {
    opacity: 0;
    visibility: hidden;
  }

  92.5% {
    opacity: 0;
    visibility: hidden;
  }
}

@include keyframes(textFade4) {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  2.5% {
    opacity: 0;
    visibility: hidden;
  }

  30% {
    opacity: 0;
    visibility: hidden;
  }

  32.5% {
    opacity: 0;
    visibility: hidden;
  }

  60% {
    opacity: 0;
    visibility: hidden;
  }

  62.5% {
    opacity: 1;
    visibility: visible;
  }

  90% {
    opacity: 1;
    visibility: visible;
  }

  92.5% {
    opacity: 0;
    visibility: hidden;
  }
}

@mixin animateThis($name, $duration: 40s, $direction: normal, $fill-mode: forwards) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $backEase;
    iteration-count: infinite;
    direction: $direction;
    fill-mode: $fill-mode;
    delay: $animDelay;
  }
}

.c-br {
  @include animateThis(rY2_2, 40s, normal, forwards);
}

.c-sq {
  @include animateThis(rX2_8, 40s, normal, backwards);
}

.c-bl {
  @include animateThis(rY2_5, 40s, normal, backwards);
}

.c-tr {
  @include animateThis(rY2_5, 40s, normal, forwards);
}

.c-tl {
  @include animateThis(rX3, 40s, normal, forwards);
}

.logo-phrase:last-child {
  @include animateThis(textChange, 40s, normal, forwards)
}

.b1 {
  @include animateThis(textFade1, 40s, normal, forwards);
}

.b2 {
  @include animateThis(textFade2, 40s, normal, forwards);
}

.b3 {
  @include animateThis(textFade3, 40s, normal, forwards);
}

.b4 {
  @include animateThis(textFade4, 40s, normal, forwards);
}